.main {
  max-width: 800px;
  min-width: 200px;
  width: 30vw;
 
  background-image: linear-gradient(to bottom right, #0d47a1, black);
  margin: auto;
  position: relative;
  top: auto;
  padding: 2vw;
  color: white;
}
body {
    background-image: url("./images/Stadium.JPG");
    background-repeat: no-repeat;
  background-size:cover;
  font-family: "Roboto", sans-serif;
  
}
.dp {
  height: 12vw;
  width: 10vw;
  
}

#number1 {
  position:relative;
  bottom: 0.5vw;
  color: white;
}

tr {
  border: 2px solid white;
}
.right1 {
  text-align: center;
  padding-left: 100px;
}
.left1 {
  text-align: center;
}

.head {
  font-size: 2vw;
  text-align: center;
}

/*
@media only screen and (max-width: 200px) {
  .main {
    width: 100vw;
    height: 100vw;
    padding: 4vw;
  }
  .dp {
    width: 10vw;
    height: 8vw;
  }
  .head {
    font-size: 5vw;
  }
  body{
    background-repeat: no-repeat;
    background: size 200px;
  }
  
  
}
*/
